body {
    background-color:#EDF3F8;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: top right;
    background-repeat: no-repeat;
   
}

h1 {
    color: #36536B;
    margin-top: 30px;
}

.text-color {
    color:#36536B;
}
input[type=email] {
    border-radius: 40px;;
}
@media only screen and (min-width: 992px) {
    .banner-btn {
        width: 50%;
    }
   }

