body {
    background-color:#EDF3F8;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: top right;
    background-repeat: no-repeat;
   
}

h1 {
    color: #36536B;
    margin-top: 30px;
}

.text-color {
    color:#36536B;
}
input[type=email] {
    border-radius: 40px;;
}
@media only screen and (min-width: 992px) {
    .ready{
        position: relative;
        left: -197px;
        top: -14px;
    }

    .ready-input {
        position: relative;
        left: -130px;
    }

    .ready-button{
        position: relative;
        left: 32px;
    }
   
   }

   .footer-btn {
    position: relative;
    left: 168px;
    top: -38px;
}