body {
    background-color:#EDF3F8;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: top right;
    background-repeat: no-repeat;
   
}

h1 {
    color: #36536B;
    margin-top: 30px;
}

.buffer {
    height: 170px;
}

.text1{
    color: #36536B;
}