body {
    background-color:#EDF3F8;
    background-image: url('../assets/home/desktop/bg-pattern-circle.svg');
    background-position: top right;
    background-repeat: no-repeat;
}

.container h1 {
    font-size: 72px;
}

/* form design */
.banner-btn {
    position: relative;
    top: -62px;
    left: 279px;
}

input[type=email] {
    border-radius: 40px;;
}

#emailHelp {
    position: relative;
    left: 15px;
}

@media only screen and (max-width: 576px) {
   .container h1 {
       text-align: center;
       font-size: 40px;
   }
  
  }

.mid-section{
    background-color: #1B262F;
    color: white;
    background-image: url('../assets/shared/desktop/bg-pattern-circle.svg');
    background-position: top left;
    background-repeat: no-repeat;
    height: 472px;
}

.buffer {
    height: 150px;
}

.feature-text h3 {
    font-size: 50px;
    color:#36536B;
}

.feature-text p {
    color:#36536B;
}

@media only screen and (min-width: 992px) {
    .feature-text h3 {
        margin-top: 50px;
    }
    
    .feature-text p {
        margin-top: 20px;
    }
   
   }


